<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>busca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text class="a">
    <h1>Cadastrar novo anime</h1>
  </ion-text>

  <ion-list>
    <form [formGroup]="formAdicionar" (ngSubmit)="submitForm()">
      <ion-item>
        <ion-input placeholder="*Título" formControlName="titulo" type="text"></ion-input>
      </ion-item>

      <ion-item *ngIf="(((errorControl.titulo.touched) || (errorControl.titulo.dirty)) 
        && errorControl.titulo.errors)">
        <span *ngIf="errorControl.titulo.errors?.required">
            *Campo obrigatório!!
        </span>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Número Total de Episódios" 
          formControlName="totalEp" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Número de Episódios Assistidos" 
          formControlName="assistidosEp" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-select placeholder="*Selecione os gêneros" [multiple]="true" formControlName="generos">
          <ion-select-option 
            *ngFor="let gender of genderList" 
            value="{{gender}}">{{gender}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="(((errorControl.generos.touched) || (errorControl.generos.dirty))
        && errorControl.generos.errors)">
        <span *ngIf="errorControl.generos.errors?.required">
            *Campo obrigatório!!
        </span>
      </ion-item>

      <ion-item>
        <ion-select placeholder="Nota" formControlName="nota" okText="Ok">
          <ion-select-option *ngFor="let nota of notas" value="{{nota}}">{{nota}}</ion-select-option>
          </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Data de início</ion-label>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime formControlName="data" id="datetime" presentation="date"></ion-datetime>
            </ng-template>
          </ion-modal>
      </ion-item>

      <ion-item>
        <ion-button size="default" color="success" shape="round">
          <input type="file" formControlName="imagem" (change)="uploadFile($event.target)" />
        </ion-button>
      </ion-item>

      <ion-button type="submit">
        <ion-icon name="add"></ion-icon>
      </ion-button>

      <ion-button (click)="cancel()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>

    </form>
  </ion-list>

</ion-content>
